<h1><%= @round.deck.title %></h1>

<h3><%= @card.question %></h3>

<form action="/rounds/<%= @round.id %>/cards/<%=@card.id%>" method='post'>
  Enter your guess:
  <br>
  <input type="text" name="user_answer">
  <br>
  <br>
  <button class="submit">Submit your guess</button>
</form>
<br>
<form action="/rounds/<%=@round_id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="End Round">
</form>
