<h2>Flashcard Decks:</h2>

<% @decks.each do |deck| %>
  <ul class='decks'>
    <h3><li><a href="/decks/<%= deck.id%>"><%= deck.title %></li></a></h3>
  </ul>
<% end %>

<% if session[:user_id] && session[:round] && session[:cards] %>
  <p>It looks like you have unfinished business!
  <br>
  <a href="http://localhost:9393/rounds/<%= session[:round] %>/cards/<%= session[:cards][0] %>"> Try going back to your current game!</a>
  <br>
  <br>
  Or, if you're done:</p>
  <form action="/rounds/<%=session[:round]%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="End Round">
  </form>
<% end %>
